*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clothing-articles{
    width: 80%;
    margin: 2% auto;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.row{
    margin-bottom: 2%; 
}
.left-item, .center-item, .right-item{
    float: left;
    width: 32.333333%;
}
.center-item{
    margin: 0 1.5%;
}
.img-conteiner{
    /* background-color: cornflowerblue; */
    position: relative;
}
.img-conteiner img{
    width: 100%;
}
.img-not-hover{
    position: relative;
    z-index: 2;
}
.img-hover{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.img-conteiner:hover .img-hover{
    z-index: 3;
    /* transition: 2s ease; */
}
.stamps{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
}
.bottom-stamps{
    position: absolute;
    bottom: 5%;
    left: 0%;
}
.discount, .eco{
    display: inline-block;
    margin-left: 2px;
    padding: 5px;
    color: white;   
}
.discount{
    background-color: #eb0037;
}
.eco{
    background-color: #00875a;
}
.favorites{
    background-color: white;
    position: absolute;
    top: 5%;
    right: 0%;
    padding: 5px 15px;
    font-size: 20px;
}
.favorites::before{
    content: "\2665";
}
.text-item{
    margin-top: 2%;
}
.description{
    text-transform: uppercase;
    font-weight: bold;
}
.price, .old-price{
    display: inline-block;
}
.price{
    color: red;
}
.old-price{
    text-decoration: line-through;
}